<div class="panel panel-primary" id="<%= dom_id(event)%>">
  <div class="panel-heading">
    <%= link_to event.name, admin_ssmanagment_event_path(event), style: "color: white;" %>
    <br/>
    <%= event.show_date %>
    <br/>
    FF - <%= event.facility_fee %>, SF - <%= event.service_fee %>
  </div>
  <div class="panel-body">
    <%= event.description %>
  </div>
  <div class="panel-footer">
    <a data-toggle="collapse"
      href="#<%= dom_id(event) %>-edit"
      class="btn btn-default <%= dom_id(event) %>-edit">
      Edit
    </a>
    <%= link_to "Destroy", ssmanagment_event_path(event), method: :delete,
      class: "btn btn-danger" %>
  </div>
  <div class="panel-footer">
    <div id="<%= dom_id(event) %>-edit" class="panel-collapse collapse">
      <%= simple_form_for event, :url => ssmanagment_event_path(event) do |f| %>
        <%= render partial: "form", locals: {f: f} %>
      <% end %>
    </div>
  </div>
</div>
