<br/>
<div class="price-group-form">
  <%= form_tag %>
  <%= label_tag "Price:"%>
  <%= text_field_tag :keyword, params[:keyword],
    class: "price-group-price" %>
  <%= submit_tag "Create Group",
    class: "btn btn-default create-price-but" %>
</div>
<br/>
<h3>Price Group List</h3>
<div class="price-group-list">
  <% price_groups.each do |g| %>
    <div id="price-group-<%= g.id %>">
      <strong style="font-size: 125%;">
      <%= g.price %>
      </strong>
      <button class="btn btn-default" id="<%= g.id %>">
        Assign
      </button>
      <button class="btn btn-default delete-group-but" id="<%= g.id %>">
        Delete
      </button>
    </div>
  <% end %>
</div>
