<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<div class="seat-selection-page">
  <header>
    <h4 class="event-name" id="event-name" 
      data-name="<%= @event.name %>">
      <%= @event.name %> - <%= @event.show_date  %>
    </h4>
    <div class="price-filter-box">
      <select class="price-filter-button price-filter">
        <option selected disabled>Price Filter</option>
        <option value="199.99">$199.99</option>
      </select>
      <select class="price-filter-button map-filter">
        <option value="base">Base Floor</option>
        <option value="upper">Upper Floor</option>
      </select>
    </div>
  </header>

  <main>
    <%= 
      inline_svg('qe_theatre.svg', 
        {class: "qe-seating-chart lower", data: {scale: 1}}) 
    %>
    <%= 
      inline_svg('qe_upper.svg', 
        {class: "magictimeHalfSec qe-seating-chart upper", data: {scale: 1}})
    %>
    <div class="text-box-bubble" style="position: absolute;">
    </div>
    <div class="zoom-box">
      <div class="zoom-in">
      </div>
      <div class="zoom-out">
      </div>
      <%= image_tag("home.png", class: "zoom-off", size:"48x46") %>
    </div>
  </main>

  <aside>
    <button class="submit-seats">Submit</button>
    <div class="selected-seat-box">
      <div class="selected-seat-info">
        When I was young, I would listen to the radio.
      </div>
      <div class="selected-seat-info">
        When they play, I would sing along; it makes me smile.
      </div>
    </div>
  </aside>

  <div class="payment-overlay">
    <%= render "stripe_form" %>
  </div>

  <div class="welcome-overlay">
    <%= render "welcome" %>
  </div>

</div>